:root{
	--sizeHeight: 125px;
	--sizeWidth: calc(var(--sizeHeight) * 1.65);
	/*http://www.colorzilla.com/gradient-editor/#333333+10,151515+40,151515+60,333333+90*/
	--themeBack: #333333;
/*	--themeBack: -moz-linear-gradient(top,  #333333 10%, #151515 40%, #151515 60%, #333333 90%);*/
/*	--themeBack: -webkit-linear-gradient(top,  #333333 10%,#151515 40%,#151515 60%,#333333 90%);*/
	--themeBack: linear-gradient(to bottom,  #333333 10%,#151515 40%,#151515 60%,#333333 90%);
	--themeFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
}

.theme-dark{
	/*http://www.colorzilla.com/gradient-editor/#333333+10,151515+40,151515+60,333333+90*/
	--themeGradient: #333333;
/*	--themeGradient: -moz-linear-gradient(top,  #333333 10%, #151515 40%, #151515 60%, #333333 90%);*/
/*	--themeGradient: -webkit-linear-gradient(top,  #333333 10%,#151515 40%,#151515 60%,#333333 90%);*/
	--themeGradient: linear-gradient(to bottom,  #333333 10%,#151515 40%,#151515 60%,#333333 90%);
	--themeFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
}
.theme-light{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+10,eaeaea+40,eaeaea+60,cccccc+90 */
	--themeGradient: #cccccc; /* Old browsers */
/*	--themeGradient: -moz-linear-gradient(top,  #cccccc 10%, #eaeaea 40%, #eaeaea 60%, #cccccc 90%); /* FF3.6-15 */*/
/*	--themeGradient: -webkit-linear-gradient(top,  #cccccc 10%,#eaeaea 40%,#eaeaea 60%,#cccccc 90%); /* Chrome10-25,Safari5.1-6 */*/
	--themeGradient: linear-gradient(to bottom,  #cccccc 10%,#eaeaea 40%,#eaeaea 60%,#cccccc 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	--themeFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.delete{
	position: absolute;
	left: 3px;
	bottom: 3px;
	cursor: pointer;
	font-size: 50%;
	color: rgba(255, 255, 255, 0.25) !important;
	text-shadow: none;
}
.delete:hover{
	color: rgba(255, 255, 255, 1) !important;
}
.delete::after{
	content: "remove";
}

.over{ /* Drag Over */
	border: 2px dashed black;
	border-radius: 5px;
}

.noEdit{
	display: none;
}
.zollerLock{
	position: absolute;
	left: 3px;
	bottom: 3px;
	width: 24px;
	height: 24px;
	background-image: url("http://tms-forum.zoller.info/favicon.ico");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.flip-item{
	cursor: pointer;
	background-image: url("../Site_Images/Flip Item_Down.png");
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	position: relative;
	display: inline-block;
	background-color: dimgrey;
	border: 0px outset #333;
	border-radius: 50%;
/*	-moz-transition: all 0.3s linear;*/
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
/*	-webkit-transition: all 0.3s linear;*/
	transition: all 0.3s linear;
}
.flip-item.flipped{
	-ms-transform: rotat(180deg);
/*	-webkit-transform: rotat(180deg);*/
	transform: rotate(180deg);
	background-color: steelblue;
}

.scroll{
	position: absolute;
	display: block;
	background: none;
	z-index: 1000;
	width: 25%;
	height: 100%;
	top: 0px;
}
.scroll:hover{
	background-color: rgba(0, 0, 0, 0.25);
}
.scroll-left{
	left: 0px;
}
.scroll-right{
	right: 0px;
}
.scroll-container{
	position: relative;
	display: block;
	background: none;
	width: 100%;
}

/* *************************************************
   ****************Assembly Styling****************
   **************************************************/

.assembly{
	position: relative;
	width: 100%;
	height: var(--sizeHeight);
	border-left: 1px outset black;
	border-right: 1px outset black;
	display: block;
	padding: 5px;
	
	background: var(--themeGradient);
	filter: var(--themeFilter);

	color: var(--themeFore);
	font-weight: 600;
	text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	
/*	-webkit-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);*/
/*	-moz-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);*/
	-o-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);
	-ms-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);
	transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);
	
	font-size: calc(var(--sizeHeight) / 8);
}
.assembly:first-child{
	border-top: 1px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.assembly:last-child{
	border-bottom: 1px solid black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.assembly-sm{
	--sizeHeight: 100px;
	--sizeWidth: 165px;
}
.assembly-md{
	--sizeHeight: 125px;
	--sizeWidth: 206.25px;
}
.assembly-lg{
	--sizeHeight: 150px;
	--sizeWidth: 247.5px;
}
.assembly-sm > .assembly-name,.assembly-sm > .assembly-item{
	width: var(--sizeWidth);
}
.assembly-md > .assembly-name,.assembly-md > .assembly-item{
	width: var(--sizeWidth);
}
.assembly-lg > .assembly-name,.assembly-lg > .assembly-item{
	width: var(--sizeWidth);
}

.assembly-name{
	position: relative;
	display: inline-block;
	height: calc(var(--sizeHeight) * 0.95);
	margin-right: 5px;
	vertical-align: top;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border: 1px outset black;
}
.assembly-name:hover{
	top: -0.5px;
	left: -0.5px;
	cursor: pointer;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.assembly-name.clicked{
	background: #b4e391;
/*	background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%);*/
/*	background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%);*/
	background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );
}
.assembly-name p{
	position: relative;
	display: block;
	width: 100%;
	top: 1em;/*40%*/
	margin: 0;
	overflow: hidden;
	text-align: center;
	text-overflow: clip;
	text-overflow: "...";
	text-overflow: ellipsis;
}
.assembly-name p:hover{
	overflow: initial;
	text-overflow: initial;
	z-index: 1000;
}
.assembly-name img:first-of-type{
	position: relative;
	display: block;
	--imgAssHeight: 60px;
	--imgAssHeight: calc(var(--sizeHeight) * 0.4);
/*	--imgAssHeight: -webkit-calc(var(--sizeHeight) * 0.4);*/
/*	--imgAssHeight: -moz-calc(var(--sizeHeight) * 0.4);*/
	width: var(--imgAssHeight);
	width: calc(var(--imgAssHeight) * 2.25);
/*	width: -webkit-calc(var(--imgAssHeight) * 2.25);*/
/*	width: -moz-calc(var(--imgAssHeight) * 2.25);*/
	height: var(--imgAssHeight);
	margin-left: auto;
	margin-right: auto;
	border: 2px ridge #333;
	border-radius: 3px;
	top: 1.15em;
	object-fit: contain;
}
.assembly-name img[src=''],.assembly-name img[src='undefined']{
	display: none;
}
.assembly-name .id{
	position: absolute;
	top: 3px;
	left: 3px;
}
.assembly-name .childcount{
	position: absolute;
	bottom: 3px;
	right: 3px;
	font-size: 50%;
}
.assembly-name .childcount::after{
	content: " component(s)";
}
.assembly-name .accessorycount{
	position: absolute;
	bottom: 5em;
	font-size: 50%;
	width: calc(var(--sizeWidth) / 5);
}

.assembly-item{
	position: relative;
	display: inline-block;
	height: calc(var(--sizeHeight) * 0.95);
	top: 0px;
	left: 0px;
	vertical-align: top;
	border-top: 1px inset;
	border-bottom: 1px inset;
/*	-webkit-transation: top 1s, left 1s;*/
	transition-property: top, left;
	transition-duration: 0.3s;
	
	font-size: calc(var(--sizeHeight) / 8);
}
.assembly-item:nth-child(2){
	border-left: 1px inset;
	/*border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;*/
}
.assembly-item:last-child{
	border-right: 1px inset;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
.assembly-item:hover{
	top: -2px;
	left: -2px;
	cursor: pointer;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
.assembly-item p{
	position: relative;
	display: block;
	/*border: 1px dashed black;*/
	text-align: left;
	padding-left: 10px;
	height: 22%;
	margin: 0px;
	width: 100%;
	overflow: hidden;
	text-overflow: clip;
	text-overflow: "...";
	text-overflow: ellipsis;
}
.assembly-item p:hover{
	overflow: initial;
	text-overflow: initial;
	z-index: 1000;
}
.assembly-item a{
	text-decoration: none;
	color: inherit;
}
.assembly-item img:first-of-type{ /* Main Image */
	border: 2px ridge #101010;
	border-radius: 3px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: calc(var(--sizeHeight) / 2);
	object-fit: contain;
}
.assembly-item img[src=''],.assembly-item img[src='undefined']{
	display: none;
}

.add-component{
	position: absolute;
	right: 3px;
	top: 3px;
	cursor: pointer;
	font-size: 50%;
	color: rgba(255, 255, 255, 0.25) !important;
	text-shadow: none;
	background: none;
	border: none;
}
.add-component::after{
	content: "Add Component";
}
.add-component:hover{
	color: rgba(255, 255, 255, 1) !important;
}

.tool-check{
	position: relative;
	display: block;
}
.tool-check label{
	position: relative;
	display: inline-block;
	width: 90%;
	clear: right;
}
.tool-check input[type="checkbox"]{
	position: relative;
	display: inline-block;
	width: 5%;
}

.component-check{
	position: relative;
	display: block;
	margin-left: 15%;
}
.component-check label{
	position: relative;
	display: inline-block;
	width: 90%;
	clear: right;
}
.component-block input[type="checkbox"]{
	position: relative;
	display: block;
	width: 5%;
}

.relatedTool{
	position: relative;
	display: block;
}
.relatedTool img:first-of-type{
	position: relative;
	display: inline;
	width: 300px;
	height: 200px;
	border: 2px outset #333;
	border-radius: 3px;
	margin: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* *************************************************
   *****************Fixture Styling*****************
   ************************************************* */
.fixture-list{
	position: relative;
	display: block;
	margin-top: 1.15em;
}
.fixture-list::before{
	content: "Fixtures";
	position: absolute;
	/*left: -4em;
	top: calc(var(--sizeWidth) / 5);*/
	display: inline-block;
	/*transform: rotate(-90deg);*/
	left: 0px;
	top: -1.15em;
}

.fixture{
	position: relative;
	width: 99%;
	height: var(--sizeHeight);
	border-left: 1px outset black;
	border-right: 1px outset black;
	display: block;
	padding: 5px;
	
	background: var(--themeGradient);
	filter: var(--themeFilter);

	color: var(--themeFore);
	font-weight: 600;
	text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	
/*	-webkit-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);*/
/*	-moz-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);*/
	-o-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);
	-ms-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);
	transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);
	
	font-size: calc(var(--sizeHeight) / 8);
}
.fixture-sm{
	--sizeHeight: 100px;
  --sizeWidth: 300px;
	/*--sizeWidth: calc(var(--sizeHeight) * 2);
/*	--sizeWidth: -webkit-calc(var(--sizeHeight) * 2);*/
/*	--sizeWidth: -moz-calc(var(--sizeHeight) * 2);*/*/
}
.fixture-md{
	--sizeHeight: 125px;
  --sizeWidth: 350px;
	/*--sizeWidth: calc(var(--sizeHeight) * 2);
/*	--sizeWidth: -webkit-calc(var(--sizeHeight) * 2);*/
/*	--sizeWidth: -moz-calc(var(--sizeHeight) * 2);*/*/
}
.fixture-lg{
	--sizeHeight: 150px;
  --sizeWidth: 400px;
	/*--sizeWidth: calc(var(--sizeHeight) * 2);
/*	--sizeWidth: -webkit-calc(var(--sizeHeight) * 2);*/
/*	--sizeWidth: -moz-calc(var(--sizeHeight) * 2);*/*/
}
.fixture-sub .fixture{
	background: none;
	border: none;
}

.fixture-name{
	position: relative;
	display: inline-block;
	height: calc(var(--sizeHeight) * 0.95);
	width: 25%;
	width: var(--sizeWidth);
	margin-right: 5px;
	vertical-align: top;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border: 1px outset black;
	cursor: pointer;
}
.fixture-name:hover{
	top: -0.5px;
	left: -0.5px;
	cursor: pointer;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.fixture-name p{
	margin: 0;
	overflow: hidden;
	text-align: center;
	text-overflow: clip;
	text-overflow: "...";
	text-overflow: ellipsis;
}
.fixture-name img{
	position: relative;
	display: block;
	--imgFixtHeight: 75px;
	--imgFixtHeight: calc(var(--sizeHeight) * 0.6);
/*	--imgFixtHeight: -webkit-calc(var(--sizeHeight) * 0.6);*/
/*	--imgFixtHeight: -moz-calc(var(--sizeHeight) * 0.6);*/
	width: var(--imgFixtHeight);
	width: calc(var(--imgFixtHeight) * 2.25);
/*	width: -webkit-calc(var(--imgFixtHeight) * 2.25);*/
/*	width: -moz-calc(var(--imgFixtHeight) * 2.25);*/
	height: var(--imgFixtHeight);
	margin-left: auto;
	margin-right: auto;
	border: 2px ridge #333;
	border-radius: 3px;
	object-fit: contain;
}
.fixture-name img[src=''],.fixture-name img[src='undefined']{
	display: none;
}
.fixture-name .childcount{
	position: absolute;
	bottom: 2.5em;
	font-size: 50%;
	width: calc(var(--sizeWidth) / 4);
}
.fixture-name .childcount::after{
	content: " sub-fixture(s)";
}
.fixture-name .accessorycount{
	position: absolute;
	bottom: 5em;
	font-size: 50%;
	width: calc(var(--sizeWidth) / 4);
}

.fixture-item,.fixture-details{
	position: relative;
	display: inline-block;
	height: 125px;
	height: calc(var(--sizeHeight) * 0.95);
	width: calc(100% - var(--sizeWidth) - 3%);
	top: 0px;
	left: 0px;
	vertical-align: top;
	overflow: auto;
}
.fixture-item textarea{
	position: relative;
	display: block;
	width: 95%;
	height: calc(var(--sizeHeight) * 0.85);
  margin: auto;
  overflow: auto;
	border: 1px solid black;
	border-radius: 4px;
	color: #333;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

.fixture-details{
	overflow: hidden;
}

.fixture-sub{
	position: relative;
	display: none;
	margin-left: 5%;
	width: 94%;
	height: calc(var(--sizeHeight));
}
.fixture-sub.show{
	display: block;
}
.fixture-sub::before{
	content: "Sub-Fixtures";
	position: absolute;
	left: -4em;
	top: calc(var(--sizeWidth) / 8);
	display: inline-block;
	transform: rotate(-90deg);
}


.fixture-sub > .fixture{
	display: inline-block;
	width: auto;
}
.fixture-sub > .fixture > .fixture-name{
	border: 1px outset black;
	border-radius: 7px;
}
.fixture-sub > .fixture > .fixture-item{
	display: none;
}
div.fixture[data-quantity]::before{
	position: absolute;
	display: block;
	right: 2em;
	top: 50%;
	content: "x" attr(data-quantity);
}

li.fixture{
	position: relative;
	width: auto;
	height: auto;
	border: none;
	display: block;
	padding: 10px;
	
	cursor: pointer;
	
	background: none;
	filter: none;
	color: initial;
	
	font-weight: 600;
	text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
	overflow: visible;
	white-space: nowrap;
}
li.fixture[data-quantity]::before{
	content: "x" attr(data-quantity);
	position: absolute;
	display: block;
	font-size: 75%;
	font-weight: 600;
	left: -10px;
	color: orange;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
li.fixture > div > .delete{
	position: relative;
	display: inline;
	cursor: pointer;
	color: initial !important;
}

/* *************************************************
   ****************Accessory Styling****************
   ************************************************* */

.accessory{
	position: relative;
	width: var(--sizeWidth);
	height: var(--sizeHeight);
	border: 1px outset black;
	display: inline-block;
	padding: 5px;
	
	background: var(--themeGradient);
	filter: var(--themeFilter);

	color: var(--themeFore);
	font-weight: 600;
	text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
	white-space: nowrap;
	
	font-size: calc(var(--sizeHeight) / 8);
}
.accessory-sm{
	--sizeHeight: 100px;
  --sizeWidth: 125px;
}
.accessory-md{
	--sizeHeight: 125px;
  --sizeWidth: 156.25px;
}
.accessory-lg{
	--sizeHeight: 150px;
  --sizeWidth: 187.5px;
}

.accessory-name{
	position: relative;
	display: block;
	height: calc(var(--sizeHeight) * 0.95);
	width: calc(var(--sizeWidth) * 0.95);
	vertical-align: top;
	border-radius: 7px;
	border: 1px outset black;
	cursor: pointer;
}
.accessory-name:hover{
	top: -0.5px;
	left: -0.5px;
	cursor: pointer;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.accessory-name p{
	position: relative;
	display: block;
	/*border: 1px dashed black;*/
	text-align: left;
	padding-left: 10px;
	height: calc(var(--sizeHeight) / 6);
	margin: 0px;
	width: 100%;
	overflow: hidden;
	text-overflow: clip;
	text-overflow: "...";
	text-overflow: ellipsis;
}
.accessory-name img{
	position: relative;
	display: block;
	width: 95%;
	height: 75px;
	height: calc(var(--sizeHeight) * 0.5);
/*	height: -webkit-calc(var(--sizeHeight) * 0.5);*/
/*	height: -moz-calc(var(--sizeHeight) * 0.5);*/
	margin: auto;
	border: 2px ridge #333;
	border-radius: 3px;
	object-fit: contain;
}
.accessory-name img[src=''],.accessory-name img[src='undefined']{
	display: none;
}

.accessory-item{
	display: none;
	height: 0px;
	width: 0px;
}
.accessory-item label{
	
}
.accessory-item input{
	
}
.accessory-item textarea{
	
}

.accessory-sub{
	position: relative;
	display: none;
	margin-left: 5%;
	width: 94%;
	height: calc(var(--sizeHeight));
}
.accessory-sub.show{
	display: block;
}
.accessory-sub::before{
	content: "Accessories";
	position: absolute;
	left: -4em;
	top: calc(var(--sizeWidth) / 8);
	display: inline-block;
	transform: rotate(-90deg);
}
.accessorycount::after{
	content: " accessory(ies)";
}

/* *************************************************
   *****************Measure Styling*****************
   ************************************************* */
.measure-list{
	position: relative;
	display: block;
	margin-top: 1.15em;
}
.measure-list::before{
	content: "Measuring Devices";
	position: absolute;
	/*left: -4em;
	top: calc(var(--sizeWidth) / 5);*/
	display: inline-block;
	/*transform: rotate(-90deg);*/
	left: 0px;
	top: -1.15em;
}

.measure{
	position: relative;
	width: 99%;
	height: var(--sizeHeight);
	border-left: 1px outset black;
	border-right: 1px outset black;
	display: block;
	padding: 5px;
	
	background: var(--themeGradient);
	filter: var(--themeFilter);

	color: var(--themeFore);
	font-weight: 600;
	text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	
/*	-webkit-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);*/
/*	-moz-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);*/
	-o-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);
	-ms-transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);
	transition: height 0.75s cubic-bezier(.68,-0.55,.27,1.55);
	
	font-size: calc(var(--sizeHeight) / 8);
}
.measure-sm{
	--sizeHeight: 100px;
  --sizeWidth: 300px;
}
.measure-md{
	--sizeHeight: 125px;
  --sizeWidth: 350px;
}
.measure-lg{
	--sizeHeight: 150px;
  --sizeWidth: 400px;
}

.measure-name{
	position: relative;
	display: inline-block;
	height: 125px;
	height: var(--sizeHeight);
	height: calc(var(--sizeHeight) * 0.95);
/*	height: -webkit-calc(var(--sizeHeight) * 0.95);*/
/*	height: -moz-calc(var(--sizeHeight) * 0.95);*/
	width: 25%;
	width: var(--sizeWidth);
	margin-right: 5px;
	vertical-align: top;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border: 1px outset black;
	cursor: pointer;
}
.measure-name:hover{
	top: -0.5px;
	left: -0.5px;
	cursor: pointer;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.measure-name p{
	margin: 0;
	overflow: hidden;
	text-align: center;
	text-overflow: clip;
	text-overflow: "...";
	text-overflow: ellipsis;
}
.measure-name img{
	position: relative;
	display: block;
	--imgFixtHeight: 75px;
	--imgFixtHeight: calc(var(--sizeHeight) * 0.6);
/*	--imgFixtHeight: -webkit-calc(var(--sizeHeight) * 0.6);*/
/*	--imgFixtHeight: -moz-calc(var(--sizeHeight) * 0.6);*/
	width: var(--imgFixtHeight);
	width: calc(var(--imgFixtHeight) * 2.25);
/*	width: -webkit-calc(var(--imgFixtHeight) * 2.25);*/
/*	width: -moz-calc(var(--imgFixtHeight) * 2.25);*/
	height: var(--imgFixtHeight);
	margin-left: auto;
	margin-right: auto;
	border: 2px ridge #333;
	border-radius: 3px;
	object-fit: contain;
}
.measure-name img[src=''],.measure-name img[src='undefined']{
	display: none;
}
.measure-name .childcount{
	position: absolute;
	bottom: 2.5em;
	font-size: 50%;
	width: calc(var(--sizeWidth) / 4);
}
.measure-name .childcount::after{
	content: " sub-measure(s)";
}
.measure-name .accessorycount{
	position: absolute;
	bottom: 5em;
	font-size: 50%;
	width: calc(var(--sizeWidth) / 4);
}

.measure-item{
	position: relative;
	display: inline-block;
	height: 125px;
	height: var(--sizeHeight);
	height: calc(var(--sizeHeight) * 0.95);
	width: 60%;
	width: calc(100% - var(--sizeWidth) - 10px);
/*	width: -webkit-calc(100% - var(--sizeWidth) - 10px);*/
/*	width: -moz-calc(100% - var(--sizeWidth) - 10px);*/
	top: 0px;
	left: 0px;
	vertical-align: top;
	overflow: auto;
}
.measure-item textarea{
	position: relative;
	display: block;
	width: 99%;
	height: 99%;
  margin: auto;
  overflow: auto;
	border: 1px solid black;
	border-radius: 4px;
	color: #333;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

.measure-sub > .measure{
	display: inline-block;
	width: auto;
}
.measure-sub > .measure > .measure-name{
	border: 1px outset black;
	border-radius: 7px;
}
.measure-sub > .measure > .measure-item{
	display: none;
}
